.Button_radio
{
    width:  300px;
    height: 70.45px;
    margin-bottom: 20px;
    margin-right:15px;
    border: none;
    background-color: white;

}
.Button_radio:hover{
    box-shadow: 1px 2px 9px #ff4267;
}
.Button_radio:active{
    box-shadow: 1px 2px 9px #ff4267;
    opacity: 0.8;
}
.Text_radio
{
    font-size: 30px;
    font-family: "Arial";
    font-weight: bold;
    /* background-color: bisque; */

}

.containerMenu
{
    background-color: white;
    padding: 20px;
    box-shadow: 5px 6px gainsboro;
    border-radius: 0px 0px 50px 50px;
    height: 100%;
    padding-top: 1%;
    flex: content;
    justify-content: center;
}

