@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');




.login_colContainer{
    margin-left: 2%
}
.register_text{
    color: #2A69B4;
    font-family: 'Arial';
    font-size: 52px;
    font-weight: 700;

}
.CanteenUIT_register_text{
    color: #F72D57;
    /* margin-left: 15px; */
    font-size: 70px;
    font-family: 'Praise',cursive;
}

.register_title{
    color: #3F3F3F;
    font-size: 48px;
    font-family: 'Arial';
    font-weight: 700;
}

.forgetpassword_text{
    color: #F72D57;
    font-size: 16px;
    font-family: 'Arial';
    font-weight: 700;
    line-height: 18.4px;
}
.donthaveAcount_text{
    color:#000000;
    font-size: 16px;
    font-family: 'Arial';
    font-weight: 700;
    line-height: 18.4px;
}

.button_register_page{
    background-color: #F72D57;
    width: 100%;
    height: 60px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5%;
    padding-top: 3.5%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: none;
}

.button_register_page:hover{
    background-color: #dd294d;
}

.register_page_Text{
    flex: content;
    font-weight: bold;
    font-size: 20px;
    color: white;
}