.orderNow_container{
    align-self: stretch;
        position: relative;
        height: 842.14px;
        flex-shrink: 0;
        overflow: hidden;
        background-image: url(/imgs/banner-section@3x.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
}

.bannerSectionDiv {
    align-self: stretch;
    position: relative;
    height: 842.14px;
    flex-shrink: 0;
    overflow: hidden;
    background-image: url(../../public/banner-section@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.rowContainer{
    margin: 4%;
    padding-left: 5%;
    padding-right: 5%;

}

.colContainer{
    margin-left: 2%
}
.orderNow_text{
    color: #2A69B4;
    font-family: 'Arial';
    font-size: 52px;
    font-weight: 700;

}
.CanteenUIT_orderNow_text{
    color: #F72D57;
    /* margin-left: 15px; */
    font-size: 70px;
    font-family: 'Praise',cursive;
}

.menu_text{
    font-size: 48px;
    font-family: "Arial";
    font-weight: 700;
    color: #3F3F3F;
    position: relative;
    display: inline-block; /* Header are 100% width by their default block behaviour */
}
.menu_text:before{
    position: absolute;
    height: 5px;
    width: 75%;
    left: 16%;
    bottom: -5px;
    background: #FD2925;
    display: block;
    content: "";
    border-radius: 5px;
}

