.verify_text{
    color: #2A69B4;
    font-family: 'Arial';
    font-size: 52px;
    font-weight: 700;

}
.CanteenUIT_verify_text{
    color: #F72D57;
    /* margin-left: 15px; */
    font-size: 70px;
    font-family: 'Praise',cursive;
}

.verify_head{
    color: #3F3F3F;
    font-size: 48px;
    font-family: 'Arial';
    font-weight: 700;
}

.paragraph_text{
    font-family: "Arial";
    font-weight: 400;
    font-size: 28px;
    line-height: 33.18px;
    text-align: center;
}



.button_verify_Next_page{
    background-color: #F72D57;
    width: 374px;
    height: 60px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5%;
    padding-top: 2.5%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: none;
}

.button_verify_Next_page:hover{
    background-color: #dd294d;
    opacity:0.9;
}
.button_verify_Next_page:active{
    background-color: #dd294d;
    opacity:1;
}


.forget_verify_next_page_Text{
    flex: content;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.previous_page_button:hover{
    /* background-color: #2A69B4; */
    opacity: 0.9;
}

.previous_page_button:active{
    opacity: 1;
}