.receipt_container{
    width: 743px;
    /* height: 367px; */
    padding-bottom: 3%;
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 3px 10px;
}

.heading_receipt{
    margin-top: 3%;
    text-align: center;
    font-weight: 700;
    font-size: 30px;    
}

.information_container{
    margin-top: 3%;
}

.payInformation_title{
    flex-direction: column;
    margin-left: 3%;
    font-family: "Arial";
    font-weight: 400;
    font-size: 24px;
    /* line-height: 27.6px; */
    color: #000000;
}

.payInformation_item{
    font-family: "Arial";
    font-weight: 400;
    font-size: 24px;
    line-height: 27.6px;
    /* color: #000000; */
    margin-right: 3%;
    text-align: end;
}

.noticeOk {
    margin: 20px 0;
    max-width: 900px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Arial"; */
    font-weight: bold;
}

.iconOk {
    margin-bottom: 20px;
}

.imgLogoSucess {
    margin: 0 10px;
    border-radius: 10px;
}

.notice {
    margin-top: 3%;
    max-width: 900px;
    text-align: center;
    color: red;
    font-size: large;
    font-weight: 500;
}
