.userInfoContainer{
    background-color: #f9f9f9f9;
    border: none;
    box-shadow: 1px 3px 9px #8C8C8C;
    border-radius: 20px 20px 20px 20px;
    flex-direction: column;

    height: 650px;
    width: 800px;
}

.formGroup{
    width: 95%;
    margin-left: 2%;
    margin-top:5%;
    height:8%;
}

.formLabel{
    margin-right: 5%;
    width: 10%;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.formControl{
    border: none!important;
    background: transparent!important;
}

.formControl::placeholder{
    font-family: Arial;
    font-weight: 400;
    font-size: 30px;
    line-height: 34.5px;
}

.ButtonCheck{
    text-align: center;
    width: 30%;
    margin: 5%;
    background-color: #F72D57!important;
    border: none!important;
}
.ButtonCheck:hover{
    opacity: 0.8!important;
}
.ButtonCheck:active{
    opacity: 1!important;
}

