.main-content{
    display: flex;
    background-color: #FFF9F5;
    /* background-color: brown; */
    /* height:100%; */
    /* color:white; */
    /* margin-left: auto; */
    height: 100%;
    /* margin-bottom: flex-end; */
    /* flex:content;
    flex-direction: column;
    align-items: flex-end; */
}

.route_content{
    margin-bottom: 3%;
    width: 100%;
}